@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-customBg: var(--bg-background);
  --color-customSurface: var(--bg-surface);
  --color-customCard: var(--bg-card);
  --color-customText: var(--text-main);
  --color-customMuted: var(--text-muted);
  --color-customAccent: var(--accent);
  --color-customBorder: var(--border-color);

  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  :root {
    --bg-background: #f7f9fc;
    --bg-surface: #ffffff;
    --bg-card: #eceef1;
    --text-main: #000d21;
    --text-muted: #44474e;
    --accent: #00e1ae;
    --border-color: rgba(0, 13, 33, 0.1);
  }

  .dark {
    --bg-background: #000d21;
    --bg-surface: #0b2341;
    --bg-card: #132d4f;
    --text-main: #ffffff;
    --text-muted: #a0a5b1;
    --accent: #00e1ae;
    --border-color: rgba(255, 255, 255, 0.1);
  }
}

body {
  background-color: var(--bg-background);
  color: var(--text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
